<div class="text-center border list-unstyled p-4 rounded-0 w-auto">
<p>計算数値を入力してください</p> 
<%= form_with model: @calculate, url: calculate_index_path, method: :post do |f| %>
<h3>ユーザー情報</h3>
<p> 
 <%= f.label :手取り %>
 <%= f.number_field :home_pay %>円
</p>
<p><%= f.label :その他支払額 %>
<%= f.number_field :other_payment_amount %>円
</p>
</div>

<div class="text-center border list-unstyled p-4 rounded-0 w-auto">
<h3>希望賃貸情報</h3>
<p> 
 <%= f.label :賃料 %>
 <%= f.number_field :rent %>円
</p>
<p><%= f.label :敷金 %>
<%= f.number_field :security_deposit %>円
</p>
<p><%= f.label :礼金 %>
<%= f.number_field :key_money %>円
</p>
<p><%= f.label :管理費 %>
<%= f.number_field :management_fee %>円
</p>
<p><%= f.label :保証料 %>
<%= f.number_field :guarantee_charge %>円
</p>
</div>

<div class="text-center border list-unstyled p-4 rounded-0 w-auto">
<p> 
<%= f.submit '完了' %>
</p>
<% end %>
 
 
 <p>結果</p>


 <p>手取り<%= @calculate.home_pay%>円</p></br>
  <p>-その他支払額<%= @calculate.other_payment_amount %>円</p></br>
 <p>-賃料<%= @calculate.rent %>円</p></br>
 <p>-敷金<%= @calculate.security_deposit %>円</p></br>
<p>-礼金<%= @calculate.key_money %>円</p></br>
<p>-管理費<%= @calculate.management_fee %>円</p></br>
<p class="border-bottom">-保証料 <%= @calculate.guarantee_charge %>円</p></br>
 <p>合計=  <%= @hikizan %>円</p>
 
<%= link_to "Topへ", calculate_index_path %>

</div>
<%= render 'calculate/template', calculate: @calculate %>

