<p>計算をするので数字を入力してください。</p> 
<%= form_with model: @calculate, url: calculate_index_path, method: :post do |f| %>

<h3>ユーザー情報</h3>
<p> 
 <%= f.label :手取り %>
 <%= f.number_field :home_pay %>
</p>
<p><%= f.label :その他支払額 %>
<%= f.number_field :other_payment_amount %>
</p>

<h3>希望賃貸情報</h3>
<p> 
 <%= f.label :賃料 %>
 <%= f.number_field :rent %>
</p>
<p><%= f.label :敷金 %>
<%= f.number_field :security_deposit %>
</p>
<p><%= f.label :礼金 %>
<%= f.number_field :key_money %>
</p>
<p><%= f.label :管理費 %>
<%= f.number_field :management_fee %>
</p>
<p><%= f.label :保証料 %>
<%= f.number_field :guarantee_charge %>
</p>
<p> 
<%= f.submit %>
</p>
<% end %>
 
 <p>結果</p>

 <%= @keisan.number1 %> +  <%= @keisan.number2 %> =   <%= @tashizan %> <BR> 
 <%= @keisan.number1 %> -  <%= @keisan.number2 %>  =  <%= @hikizan %> <BR>
 <%= @keisan.number1 %> *  <%= @keisan.number2 %> = <%= @kakezan %> <BR>
 <%= @keisan.number1 %> /  <%= @keisan.number2 %> = <%= @warizan %> <BR>

 
<%= link_to "Topへ", calculate_index_path %>

<li>
 <%= link_to "Search 様々な地域の家を探そう", new_search_path %>
</li>

<li>
 <%= link_to "Post 情報を投稿し共有しよう", new_post_path %>
</li>

<li>
 <%= link_to "List みんなの投稿を覗いてみよう", post_index_path %>
</li>

<!--https://papael14.com/rails-calculation/-->