<div class="text-center border d-inline list-unstyled">

<h4>Create</br>
物件の登録をしよう</h4>

<%= form_with model: @search, url: search_path(@search.id), method: :patch do |f| %>
 <label for = "inputImage">Image</label></br>
    <%= f.file_field :image, autofocus: true, id:"inputImage", placeholder:"Image" %>
     
 <p>物件名</p>
  <%= f.text_field :name%>

  <p>都道府県</p>
  <%= f.text_field :address_prefecture %>

  <p>市町村</p>
   <%= f.text_field :address_city %>

  <p>最寄り駅</p>
   <%= f.text_field :distance %>駅

  <p>最寄り駅徒歩時間</p>
   <%= f.text_field :distance_time %>分

  <p>賃貸</p>
   <%= f.text_field :rent %>円

  <p>敷金</p>
   <%= f.text_field :security_deposit %>円

  <p>礼金</p>
   <%= f.text_field :key_money %>円

  <p>管理費</p>
   <%= f.text_field :management_fee %>円

  <p>保証料</p>
   <%= f.text_field :guarantee_charge %>円</br>
   
<%= f.submit '完了' %>

<% end %>
</div>
<%= render 'search/template1', search: @search %>