<div class="text-center border d-inline list-unstyled">
<h4>Create</br>
物件の登録をしよう</h4>

<%= form_with model: @search, url: search_index_path, method: :post do |f| %>

  <label for = "inputImage">物件画像</label></br>
  <%= f.file_field :image, autofocus: true, id:"inputImage", placeholder:"Image" %></br>

  <div>物件名</div>
  <%= f.text_field :name%>

  <div>都道府県</div>
  <%= f.text_field :address_prefecture %>

  <div>市町村</div>
   <%= f.text_field :address_city %>

  <div>最寄り駅</div>
   <%= f.text_field :distance %>駅

  <div>最寄り駅徒歩時間</div>
   <%= f.text_field :distance_time %>分

  <div>賃貸</div>
   <%= f.text_field :rent %>円

  <div>敷金</div>
   <%= f.text_field :security_deposit %>円

  <div>礼金</div>
   <%= f.text_field :key_money %>円

  <div>管理費</div>
   <%= f.text_field :management_fee %>円

  <div>保証料</div>
   <%= f.text_field :guarantee_charge %>円</br>

 <%= f.submit '完了' %>

<% end %>
</div>
 <%= render 'search/template1', search: @search %>
