<h4>Search </br>
様々な地域の家を探そう</h4>
<div class="text-center border d-flex　justify-content-around list-unstyled p-3 rounded-0">
<thead>
    <tr>
      <th class="col-md-1">賃貸名称:<%= @search.name %></th></br>
      <th class="col-md-1 text-center"> 
      <div class="m-1 " >
        <% if @search.image.attached? %>
          <%= image_tag @search.image, size: "200x200", style: "width: auto; max-height: 200px;" %>
        <% else %>
          <%= image_tag 'no_image', size: "200x200", style: "width: auto; max-height: 200px;" %>
        <% end %>
       </div>
      </th>
      </br>
      <th class="col-md-1">都道府県:<%= @search.address_prefecture %></th></br>
      <th class="col-md-1">最寄り駅:<%= @search.distance %>駅</th>
      <th class="col-md-1">(徒歩<%= @search.distance_time %>分)</th></br>
      <th class="col-md-1">賃貸:<%= @search.rent %>円</th>
      <th class="col-md-1">敷金:<%= @search.security_deposit %>円</th></br>
      <th class="col-md-1">礼金:<%= @search.key_money %>円</th>
      <th class="col-md-1">管理費:<%= @search.management_fee %>円</th></br>
      <th class="col-md-1">保証料:<%= @search.guarantee_charge %>円</th></br>
      <th class="col-md-1"><%= link_to "編集", edit_search_path(@search.id) %></th>
      <th class="col-md-1"><%= link_to "削除", search_path(@search.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></th></br>
     </tr>
</thead>

</div>

 <%= render 'search/template1', search: @search %>
