<h1>View#show</h1>
<p>Find me in app/views/view/show.html.erb</p>
  <td>
            <div id="star-rate<%= @post.id%>"></td>
             <script>
              $('#star-rate<%= @post.id %>').empty();
              $('#star-rate<%= @post.id%>').raty({
                 size      : 36,
                 starOff   : '<%= asset_path('star-off.png') %>',
                 starOn    : '<%= asset_path('star-on.png') %>',
                 half      : false,
                 readOnly: true,
                 score: <%= @post.star %>,
               });
             </script>
          </td>
