<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="text-center border d-inline list-unstyled">
<h4>Post</br> 
情報を投稿し共有しよう</h4>

<%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
     

  <p>住所</p>
  <%= f.text_field :address %>
  
  <p>コメント</p>
  <%= f.text_area :comment %>
	
	<p>評価</p>
  <%# if @post.id.nil? %>
    <div class="form-group row mx-auto d-block" id="star">
      <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
      <%= f.hidden_field :star, id: :review_star %>
    </div>
    <script>
  
      let elem = document.querySelector("#star");
      elem.innerHTML = "";
      
      let opt = {
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
     　  scoreName: 'post[star]',　
        half: false
      }
      
      raty(elem, opt);
    </script>
  <%# end %>

  <%= f.submit '完了' %>

<% end %>
</div>
<%= render 'post/template1', post: @post %>
