
<h4>プロフィール</h4>
 <% if @post.image.attached? %>
  <%= image_tag @post.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>
<h2>No</h2>
<%= link_to @post.id, customer_path %> 
<h2>都道府県</h2>
<%= @post.address %>
<h2>コメント</h2>
<%= @post.comment %>
<h2>評価</h2>
  <div id="star_<%= @post.id %>"></div>
<script>
  let elem = document.querySelector('#star_<%= @post.id %>');
  
  elem.innerHTML = "";
  let opt = {  
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= @post.star %>",
    readOnly: true,　　
  };
  raty(elem, opt);

</script>
<div>
 <%= link_to "Back", post_index_path %>
</div>
<div>
 <%= link_to "edit", edit_post_path %>
</div>

<li>
 <%= link_to "Search 様々な地域の家を探そう", new_search_path %>
</li>

<li>
 <%= link_to "Post 情報を投稿し共有しよう", new_post_path %>
</li>

<li>
 <%= link_to "Calculate 様々な内訳を計算しよう", new_calculate_path %>
</li>