<div class="text-center border d-flex　justify-content-around list-unstyled p-3 rounded-0">
<h4>Post</br>
情報を投稿し共有しよう</h4>

<p>プロフィール</p>
 <% if @post.customer.image.attached? %>
  <%= image_tag @post.customer.image, size: "200x200" %>
  <% else %>
  <%= image_tag 'no_image', size: "200x200" %>
  <% end %>
 
<p>No</p>
<%= @post.id %>
<p>都道府県</p>
<%= @post.address %>
<p>コメント</p>
<%= @post.comment %>
<p>評価</p>
  <div class="form-group row mx-auto d-block"  id="star_<%= @post.id %>"></div>
<script>
  let elem = document.querySelector('#star_<%= @post.id %>');

  elem.innerHTML = "";
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= @post.star %>",
    readOnly: true,
  };
  raty(elem, opt);

</script>
<div>
 <%= link_to "Back", post_index_path %>
</div>
<div>
 <%= link_to "edit", edit_post_path %>
</div>

<%= render 'post/template1', post: @post %>
</div>