<div class="text-center border d-inline list-unstyled">
 <h4>選択してください</h4>
 <h5>
  <%= link_to "Create 物件の登録をしよう", new_search_path %>
 </h5>

 <h5>
  <%= link_to "Search 様々な地域の家を探そう", search_index_path %>
 </h5>
</div>

<div class="d-flex justify-content-around">
 <tbody>
    <tr>
      <td>
        <%= link_to "Post 情報を投稿し共有しよう", new_post_path %>
      </td>
      <td>
         <%= link_to "List みんなの投稿を覗いてみよう", post_index_path %>
      </td>
      <td>
         <%= link_to "Calculate 様々な内訳を計算しよう", new_calculate_path %>
      </td>
    </tr>
 </tbody>
 </div>