<div class="text-center border d-flex　justify-content-around list-unstyled p-3 rounded-0">
 <h4><%= @customer.name %>
 <% if @customer.id == current_customer.id %>
<%= link_to "編集", edit_customer_path(@customer) %>
<% end %>
</h4>
  <% if @customer.image.attached? %>
  <%= image_tag @customer.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>
</div>
<table class="table text-left">
  <thead>
    <tr>
      <th class="col-md-3">都道府県</th>
      <th class="col-md-3">コメント</th>
      <th colspan="col-md-3">評価</th>
      <th class="col-md-3"></th>
    </tr>
  </thead>

<tbody>
 <% @customer.posts.each do |post| %>
  <tr>
    <td class="col-md-3 text-left"><%= post.address %></td>
    <td class="col-md-3 text-left"><%= post.comment %></td>
    <td class="col-md-3 text-left"><div id="star_<%= post.id %>"></div>
    <script>{
  let elem = document.querySelector('#star_<%= post.id %>');
  
  elem.innerHTML = "";
  let opt = {  
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= post.star %>",
    readOnly: true,　　
  };
  raty(elem, opt);
}
</script>
  </td>
    <td class="col text-center" style="width: 50px;">
      <% if @customer.id == current_customer.id %>
      <%= link_to "編集", edit_post_path(post.id) %>
    <%= link_to "削除", post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </td>
  </tr>
</tbody>

<% end %>

<%= render 'customer/template', customer: @customer %>
