<!DOCTYPE html>
<html>
  <head>
    <title>TakuHome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <h1>Taku</br>Home</h1>
    <% if customer_signed_in? %>
       <div>管理者用
       <%= link_to current_customer.name, mypage_customer_index_path %>
      </div>
     <li>
        <%= link_to "Search", new_search_path %>
      </li>
      <li>
        <%= link_to "Post", new_post_path %>
      </li>
      <li>
        <%= link_to "List", post_index_path %>
      </li>
      <li>
        <%= link_to "Calculate", calculate_index_path %>
      </li>
      <li>
        <%= link_to "Log out", destroy_customer_session_path, method: :delete %>
      </li>
    <% else %>
     <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "About", about_path %>
      </li>
      <li>
        <%= link_to "Introduction", introduction_path %>
      </li>
      <li>
        <%= link_to "Sign up", new_customer_registration_path %>
      </li>
      <li>
        <%= link_to "Log in", new_customer_session_path %>
      </li>
    <% end %>
  </header>
  <main>
   <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    </main>
  </body>
</html>
